/* html,
body, {


} */

/* make  header a link to view high scores */
header {
 text-align: left;
 color: purple;
}
.timer{
    text-align: right;
}

a {
    text-decoration: none;
}
main {
 text-align: center;
 border: 5px;
 border-style: groove;
 border-color: blueviolet;
 margin: 15%;
 padding: 10%;
}

#start-btn{
    background-color: greenyellow;
}

.hide {
    display:none;
}

#answers{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
}

#save-btn{
    background-color: greenyellow;
}